body {
    background-image: url("/static/background.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0; 
}

h1 {
    margin-top: 0;
    font-size: 3em;
    color: #313131;
}

h2 {
    font-size: 2em;
    color: #000000;
}

#videoStream {
    width: 800px;
    height: auto; 
    /* border: 2px solid black;  */
}

form {
    text-align: center;
    margin-top: 50px;
}

input, button {
    padding: 10px;
    font-size: 1.5em;
}

button {
    cursor: pointer;
}

.direction-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 200px;
    place-items: center; 
    margin: 20px;
}

.direction-button {
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; 
    border: none; 
    outline: none;
}

.direction-button:hover {
    background-color: #e0e0e0;
}

.control-button {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff; 
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.control-button i {
    margin-right: 5px;
}

.control-button:hover {
    background-color: #e0e0e0;
}
#btnUp {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#btnLeft {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#btnDown {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#btnRight {
    grid-column: 3 / 3;
    grid-row: 2 / 3;
}

